extends ./layout/layout

block variables
    - var page_title = 'О театре';
    - let count = 0;
    - let actor = [{name: "Кашеварова Анна Александровна", image: "Eyxu7-4jiMM.jpg", position: "Актриса" }];
    - let text = "Летопись кунгурского ТЮЗа началась 15 января 2020 года, когда «ГЦД «Театр молодежи» был преобразован в «Театр юного зрителя города Кунгура». У театра богатая история. Театр молодежи открыли в 1965 году в историческом здании бывших складов по действующему адресу. Режиссер-постановщик ТЮЗа — Ольга Проданова. Каждый из спектаклей в режиссуре и авторстве Ольги Продановой оформлен так, что создается впечатление, будто красочная детская книга с объемными раскладывающимися картинками внутри ожила, а герои ее заговорили и запели. Зрители замирают при перемене света и декораций, живо отвечают на вопросы со сцены и хохочут над тонким юмором автора. Спектакли Ольги Продановой (а она является режиссером и автором пьес спектаклей: «Масляная сказка», «Ох! Переполох! Или как Кузя дружить учился», «Умная сказка, или Как принцесса училась без стресса», «Как Марфушку замуж выдавали», «Баллада о журавушках») показывают маленьким зрителям равные части удивительных историй, замечательной музыки, изящных танцев, эффектного оформления. На материале классических сказок театр учит детей уму-разуму, добру, любви, взаимоотношениям с окружающим миром. В 2021 году ТЮЗ г. Кунгура впервые присоединился к федеральному проекту «Культура малой Родины» по направлению «Театр-детям». Благодаря участию в проекте театр смог получить денежные средства из федерального и регионального бюджетов на поддержку творческой деятельности и техническое оснащение."

include components/people
include components/section-title

block content
    include sections/mainSlider.pug
    section.about
        .container.--not-mobile
            .about__title
                +section_title({text: page_title, link_text: "Развернуть"})
            .about__wrapper
                .about__text=text
                .about__gallary
                    .gallary
                        .div(style=`background: url(../images/0de9f70d574b0d39051efd6bac3bb4fd.jpg) center no-repeat; background-size: cover;`).gallary__viewed
                        .gallary__images
                            .div(style=`background: url(../images/0de9f70d574b0d39051efd6bac3bb4fd.jpg) center no-repeat; background-size: cover;`).gallary__img
                            .div(style=`background: url(../images/lisa.jpg) center no-repeat; background-size: cover;`).gallary__img
                            .div(style=`background: url(../images/zolishka.jpg) center no-repeat; background-size: cover;`).gallary__img


    section.people-list
        .container.--not-mobile
            .people-list__title
                +section_title({text: "Люди театра", link_text: "Развернуть"})
  
            ul.people-list__wrapper
                while count < 12
                    li.people-list__item
                        +people(actor[0])
                        
                    - count += 1;
    include sections/contacts.pug