extends ./layout/layout

block variables
    - var page_title = 'Главная';

block content
    include sections/mainSlider.pug
    include sections/news.pug
    include sections/billboard.pug
    include sections/plays.pug
