extends ./layout/layout

include components/section-title

block variables
    - var page_title = 'Новости';

block content
    include sections/mainSlider.pug
    article.news-view
        .container.--not-mobile
            +section_title({text: "Новости", link_text: "Все новости"})            
        .container
            .news-view__data 6 сентября 2023
            .news-view__article
                .news-view__article-text
                    .news-view__image-box 
                        img(src="/images/8c546yjOMTg 1.jpg", alt="Новости").news-view__image
                    h2.news-view__title Не бойтесь брать билеты на последний ряд!
                    .news-view__text Знаете, так давно хотелось написать про ТЮЗ - про наш кунгурский театр, который за свою историю назывался по-разному, и вот в 2020 году, я считаю, ч ним случилась лучшая трансформация (по моей версии) - в театр юного зрителя! Теперь на спектакли для детей не достать билет, заядлые кунгуряки не пропускают ни одной премьеры. Побывав на новогоднем спектакле «Серебряное копытце», я уже тогда была под огромным впечатлением от работы коллектива театра, но пост не сложился и я долго корила себя за это. Услышав о постановке спектакля о купцах Агеевых, я почти твердо решила, что не пойду - чувствую, что без слез с таких постановок зрители не уходят, но одним прекрасным утром я встретила в очереди за кофе режиссера Станислава Смирнова и он пригласил на премьеру. Сегодня все события сложились так, что я купила билеты только на последний ряд. Долго сомневалась, но в случае чего, думала, пересяду. Но это было напрасно. Слышно и видно прекрасно. Я не буду расписывать про сам спектакль — его просто нужно смотреть. Я скажу, что меня охватывает невероятная гордость, когда я смотрю в своем городе постановку своих земляков про нашу историю, где каждая деталь в спектакле сделана руками кунгурчков, где играют наши артисты, живущие с нами в одном городе, где в зале знаешь большинство зрителей, которые в едином порыве в конце встают и готовы жарить аплодисменты бесконечно. Сейчас государство размышляет про патриотизм и сегодня я поймала себя на мысли, что для меня патриотизм и вот в этом - знать историю своей страны, своих земляков, видеть рефлексию культуры на эти события… Анастасия Разепина писала, что музыку к спектаклю Станислав тоже написал сам. Ну это ли не повод прийти и посмотреть спектакль? После окончания я не могла говорить минут 5. Хотелось просто помолчать и подумать, куда привели нас 100 лет реформаций. И что будет дальше? Всем советую посмотреть спекталь «Неоконченная симфония» в нашем ТЮЗе! И да - не бойтесь брать билеты на последний ряд :)
                .news-view__article-images
                    img(src="/images/8c546yjOMTg 1.jpg", alt="Новости").news-view__image
                    img(src="/images/8c546yjOMTg 1.jpg", alt="Новости").news-view__image
                    img(src="/images/8c546yjOMTg 1.jpg", alt="Новости").news-view__image

