include ../components/article
include ../components/all-items-link
include ../components/section-title
- const news = [{title: "Продажа билетов на следующий сезон открыта! css как выбрать несколько классов одним селектором CSS", text: "Новый театральный сезон не заставит себя долго ждать. Новый театральный сезон не заставит себя долго ждать. Новый театральный сезон не заставит себя долго ждать. Новый театральный сезон не заставит себя долго ждать. Новый театральный сезон не заставит себя долго ждать.Уже в августе мы будем готовы показать первые спектакли нашим маленьким зрителям.  И официально откроем сезон премьерой спектакля «Портрет» спектакля «Портрет» спектакля «Портрет» И официально откроем сезон премьерой спектакля «Портрет» (по мотивам петербургских повестей Н. Гоголя)", image: "DSC_7973.jpg"}, {title: "ПРОуборка", text: "Новый театральный сезон не заставит себя долго ждать.Уже в августе мы будем готовы показать первые спектакли нашим маленьким зрителям. И официально откроем сезон премьерой спектакля «Портрет» (по мотивам петербургских повестей Н. Гоголя)", image: "DSC_7973.jpg"}, {title: "Продажа билетов на следующий сезон открыта!", text: "Новый театральный сезон не заставит себя долго ждать.Уже в августе мы будем готовы показать первые спектакли нашим маленьким зрителям. И официально откроем сезон премьерой спектакля «Портрет» (по мотивам петербургских повестей Н. Гоголя)", image: "DSC_7973.jpg"}, {title: "Продажа билетов на следующий сезон открыта!", text: "Новый театральный сезон не заставит себя долго ждать.Уже в августе мы будем готовы показать первые спектакли нашим маленьким зрителям. И официально откроем сезон премьерой спектакля «Портрет» (по мотивам петербургских повестей Н. Гоголя)", image: "DSC_7973.jpg"}, {title: "Продажа билетов на следующий сезон открыта!", text: "Новый театральный сезон не заставит себя долго ждать.Уже в августе мы будем готовы показать первые спектакли нашим маленьким зрителям. И официально откроем сезон премьерой спектакля «Портрет» (по мотивам петербургских повестей Н. Гоголя)", image: "DSC_7973.jpg"}];

section.news  
        .container.--not-mobile
            .news__title
                +section_title({text: "Новости | сентябрь", link_text: "Все новости"})

        .container
            .news__container
                .news__slider.swiper.js-news-swiper
                    .news__wrapper.swiper-wrapper
                        if news.length
                            each art in news
                                .news__item.swiper-slide
                                    +article(art)
                .news__pagination.swiper-pagination            
                .news__al-news-link 
                    +all-items-link('Все новости')           
                .news__next.swiper-button-next
                .news__prev.swiper-button-prev

