.header {
    background-color: $active-color;    
    &__container{
        display: grid;
        grid-template-columns: 1fr 4fr;
        padding-top: 15px; 
        padding-bottom: 12px;
        @include tablet{
            display: flex;
            justify-content: space-between;
        }
        .--open{
            @include tablet{
                justify-content: end; 
            }                       
        }
    }
    &__logo{
        width:  179px;
        height: 60px;
        background: url(../img/icons/logo.svg) no-repeat;
        background-size: contain;
    }
}