mixin article(art)
    .article
        div(style=`background: url(../images/${art.image}) center no-repeat; background-size: cover;`).article__img
        .article__title=art.title
        p.article__text=art.text
        .aricle__date 07.06.2023

