.contact-info
    .contact-info__title Театр юного зрителя г.Кунгур
    .contact-info__box
        .contact-info__label Телефон:
        .contact-info__data +7 (342) 712-49-49
    .contact-info__box
        .contact-info__label E-mail:
        .contact-info__data teatrmolodegi@yandex.ru
    .contact-info__text 617470, г.Кунгур, улица Гоголя, 27
    .contact-info__text Пн-Пт с 08:00 до 17:00