form.feedback-form
    .feedback-form__title Напишите нам
    .feedback-form__text Если у вас возникнут пожелания или вопросы, будем рады ответить.
    input(type="text" placeholder="Ваше имя").feedback-form__input
    input(type="text" placeholder="Эл. почта").feedback-form__input
    textarea(name="text", cols="30", rows="5" placeholder="Ваше сообщение").feedback-form__text-area
    .feedback-form__button-wrapper
        input(type="submit").feedback-form__button

