.a-button{
    background-color: $not-selected-color;
    font-family: $main-font;
    color: $main-light;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    padding: 8.9px 15px;
    &:hover{
        background-color: $active-color;
    }
}