.billboard-item{    
    display: grid;    
    grid-template-columns: 7fr 1.2fr;   
    grid-gap: 30px;
    align-items: center;
    padding: 10px 0px;
    &:hover{
        background-color: #F0F0F0;
        ;
    }
    @include tablet{
        grid-template-columns: 7fr 2fr;   
    }
    @include phone{
        display: block;
    }
    &__link{        
        display: grid;
        grid-gap: 30px;    
        grid-template-columns: 1fr 1.5fr 5fr;
        align-items: center;
        @include tablet{
            grid-template-columns: 1fr 4fr;
        }
        @include phone{
            display: block;
        }
    }
    &__img{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 168px;
        height: 91px;
        @include tablet{
            display: none;
        }
    }
    &__date{        
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $main-text;
        @include small-desktop{
            flex-direction: column;
        }
        @include phone{
            flex-direction: row;
            justify-content: start;
        }
    }
    &__day{        
        font-size: 54px;
        font-weight: 400;
        line-height: 70px;
    }
    &__time{
        font-family: $second-font;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
    }
    &__month{
        font-family: $second-font;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
    }
    &__about{
        color: $main-text;
        padding-left: 20px;        
        @include phone{
            padding: 0;
        }
    }
    &__about-text{
        font-family: $second-font;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        margin-bottom: 7px;
        @include phone{
            display: none;
        }        
    }
    &__title{
        font-family: $second-font;
        font-size: 28px;
        font-weight: 500;
        line-height: 26px;
        @include small-desktop{
            font-size: 26px;
        }
        @include tablet{           
            font-size: 20px;
        }
        @include phone{
            margin-bottom: 20px;
        }
    }
    &__director{
        font-family: $second-font;
        margin-top: 7px;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        @include phone{
            display: none;
        } 
    }
    &__button{        
        height: 45px;
        @include phone{
            height: auto;
            width: 120px;
        }
    }
    &__age{
        font-size: 28px;
        font-weight: 200;
        line-height: 34px;
        @include phone{
            position: absolute;
            top: 25px;
            right: 0;
        }
    }
}