.billboard-item{
    display: grid;
    grid-template-columns: 1fr 0.9fr 3fr 0.9fr;
    grid-gap: 30px;
    @include phone{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    align-items: center;
    &:hover{
        background-color: rgba(240, 240, 240, 1);        
    }
    @include small-desktop{
        grid-template-columns: 1fr 0.5fr 3.5fr 0.9fr;
    }
    @include tablet{
        grid-template-columns: 0.7fr 3fr 1.2fr;
    }
    @include phone{
        position: relative;
        display: block;
    }    
    &__img{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 168px;
        height: 91px;
        @include tablet{
            display: none;
        }
    }
    &__date{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include small-desktop{
            flex-direction: column;
        }
        @include phone{
            flex-direction: row;
            justify-content: start;
        }
    }
    &__day{        
        font-size: 54px;
        font-weight: 400;
        line-height: 70px;
    }
    &__time{
        font-family: $second-font;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
    }
    &__month{
        font-family: $second-font;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
    }
    &__about{
        padding-left: 20px;
        @include phone{
            padding: 0;
        }
    }
    &__about-text{
        font-family: $second-font;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        margin-bottom: 7px;
        @include phone{
            display: none;
        }        
    }
    &__title{
        font-family: $second-font;
        font-size: 28px;
        font-weight: 500;
        line-height: 26px;
        @include small-desktop{
            font-size: 26px;
        }
        @include tablet{           
            font-size: 20px;
        }
        @include phone{
            margin-bottom: 20px;
        }
    }
    &__director{
        font-family: $second-font;
        margin-top: 7px;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        @include phone{
            display: none;
        } 
    }
    &__button{
        display: flex;
        justify-content: flex-end;
        height: 25px;
        @include phone{
            height: auto;
            width: 120px;
        }
    }
    &__age{
        font-size: 28px;
        font-weight: 200;
        line-height: 34px;
        @include phone{
            position: absolute;
            top: 25px;
            right: 0;
        }
    }
}