.contact-info{
    &__title{        
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        margin-bottom: 14px;
    }
    &__box{
        display: flex;
        margin-bottom: 14px;
    }
    &__label{
        font-family: $second-font;
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        margin-right: 10px;
    }
    &__data{
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
    }
    &__text{
        font-family: $second-font;
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
        margin-bottom: 10px;
    }
}