.gallary{
    display: flex;
    flex-direction: column;
    
    @include tablet{
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        justify-content: space-between; 
        align-items: center;    
    }
    @include phone{
        display: flex;
        flex-direction: column-reverse;        
    }

    &__viewed{
        height: 320px;
        margin-bottom: 10px; 
        transition: background 0.8s ease;       
        @include tablet{
            margin-bottom: 0; 
        }  
        @include phone{
            width: 100%;
            height: 200px;
        }              
    }
    &__images{             
        display: grid;
        grid-template-columns: repeat(auto-fill, 147px);
        justify-content: space-between;
        height: 100%;
        row-gap: 10px;
        @include phone {
            display: none;            
        }
        @include tablet{
            grid-template-columns: repeat(auto-fill, 180px);
            justify-content: center;
            align-content: space-between; 
        }
        @include small-desktop{
            justify-content: center; 
            gap: 10px;         
        }
    }
    &__img{
        cursor: pointer;
        height: 92px;        
    }
}