.news{
    position: relative;
    margin-bottom: 40px;
    @include phone{
        margin-bottom: 60px;
    }
    &__title{
        margin-bottom: 10px;          
    }
    &__container{
        position: relative;
    }
    &__al-news-link{
        position: absolute;
        bottom: 12px;
        right: 0;
        z-index: 500;
        @include phone{
            display: none;
        }     
    }    
}