.news{
    position: relative;
    margin-bottom: 40px;
    @include phone{
        margin-bottom: 60px;
    }
    &__title{
        font-family: $second-font;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        color: $main-text;
        margin-bottom: 10px;
        @include phone{          
            font-size: 16px;
            font-weight: 700;
            line-height: 21px;
        }              
    }
    &__container{
        position: relative;
    }
    &__al-news-link{
        position: absolute;
        bottom: 12px;
        right: 0;
        z-index: 500;
        @include phone{
            height: 20px;
            top: -2px;
            right: 10px;
        }     
    }    
}