.news{
    &__title{
        font-family: $second-font;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        color: $main-text;
        margin-bottom: 10px;
    }
    &__container{
        position: relative;
    }
    &__al-news-link{
        position: absolute;
        bottom: 12px;
        right: 0;
        font-family: $main-font;
        color: $main-text;
        font-size: 16px;
        font-weight: 500;
        line-height: 21px;
        z-index: $z-top;
        &::before{
            position: absolute;            
            left: -28px;
            top: 7px;            
            content: '';
            width: 20px;
            height: 20px;
            background: url(../img/icons/arrow.svg) no-repeat;
            background-size: contain;     
        }
    }    
}