.plays{      
    margin-bottom: 100px;
    &__title{
        margin-bottom: 5px;
        @include phone{
            margin-bottom: 10px;
        }        
    }
    &__slider{
        margin-bottom: 20px;
        @include phone{
            margin-bottom: 0;
        }
    }
       
    &__container{
        position: relative;
    }
    &__pagination{
        position: static;
        margin-top: 0px;      
    }
    &__al-plays-link {
        position: absolute;
        bottom: 0px;
        right: 0;
        z-index: 500;
        @include phone{
            height: 20px;
            top: -2px;
            right: 10px;
        } 
    }
}