.swiper-button-next:after, .swiper-button-prev:after {   
    font-size: 30px;
    font-weight: bold;
}

.swiper-pagination-bullet{
    border: 1px solid $sliderElementsColor;
    background-color: #fff;
}

.swiper-pagination-bullet-active{
    border: 1px solid $sliderElementsColor;
    background-color: $sliderElementsColor;
}