.swiper-button-next:after, .swiper-button-prev:after {   
    font-size: 30px;
    font-weight: bold;
}

.swiper-pagination-bullet{
    border: 1px solid $sliderElementsColor;
    background-color: #fff;
}

.swiper-pagination-bullet-active{
    border: 1px solid $sliderElementsColor;
    background-color: $sliderElementsColor;
}

.swiper-button-next{    
    transform: translateX(65px) translateY(-20px);
    color: $sliderElementsColor;
    @include small-desktop{
        transform: translateX(40px) translateY(-20px);
    }
    @include tablet{
        transform: translateX(45px) translateY(-20px);
    }
    @include phone{
        display: none;
    } 
}

.swiper-button-prev{
    transform: translateX(-65px) translateY(-20px);
    color: $sliderElementsColor;
    @include small-desktop{
        transform: translateX(-40px) translateY(-20px); 
    }
    @include tablet{
        transform: translateX(-45px) translateY(-20px); 
    }
    @include phone{
        display: none;
    } 
} 