html {
  font-size: $base-font-size;
  font-family: 'Roboto Slab', serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
* {
  margin: 0;
  padding: 0;  
}
.container{
  margin-left: auto;
  margin-right: auto;
  max-width: 1160px;
  @include small-desktop{
    max-width: 960px;
  }
  @include tablet{
    max-width: 564px;
  }
  @include phone{
    max-width: 262px;    
  } 
  &.--not-mobile{
    @include phone{
      max-width: 1160px;
    }
  } 
  
}

ul{
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

p {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

a{
  text-decoration: none;
}

h1 {
  font-size: rem(36px);
}

h2 {  
  font-size: 24px;
  margin-block-start: 0;
  margin-block-end: 0;
  @include tablet{
    font-size: 22px;
    font-weight: 700;
    line-height: 29px;
  }
  @include phone{    
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
  }
}

h3 {
  font-size: rem(28px);
}

h4 {
  font-size: rem(24px);
}

h5 {
  font-size: rem(16px);
}

h6 {
  font-size: rem(12px);
}